extends ../layout

block content
  div.d-flex.justify-content-between.align-items-center.mb-4
    h1 Modifier les Informations Personnelles
    a.btn.btn-secondary(href=`/personnels/${personnel.id}`)
      i.bi.bi-x-circle.me-2
      | Annuler
  
  div.card
    div.card-header.bg-success.text-white
      h2.h4= `Informations de ${personnel.Personne ? personnel.Personne.prenom + ' ' + personnel.Personne.nom : 'Personne inconnue'}`
    
    div.card-body
      form(action=`/personnels/${personnel.id}`, method='POST')
        input(type='hidden', name='_method', value='PUT')
        
        div.mb-3
          label.form-label(for='age') Âge
          input.form-control#age(type='number', name='age', value=personnel.age || '', min='0', max='120')
          div.form-text L'âge en années
        
        div.mb-3
          label.form-label(for='taille') Taille (en mètres)
          input.form-control#taille(type='number', name='taille', value=personnel.taille || '', min='0.5', max='2.5', step='0.01')
          div.form-text Format : 1.75 (pour 1m75)
        
        div.mb-3
          label.form-label(for='poids') Poids (en kg)
          input.form-control#poids(type='number', name='poids', value=personnel.poids || '', min='30', max='250', step='0.1')
          div.form-text Le poids en kilogrammes
        
        div.d-grid.gap-2.d-md-flex.justify-content-md-end
          a.btn.btn-secondary.me-md-2(href=`/personnels/${personnel.id}`) Annuler
          button.btn.btn-primary(type='submit') Enregistrer les modifications
